body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

h4.back-opt {
    text-align: left;
    padding-left: 20px;
}

h4.back-opt a {
    text-decoration: none;
    color: #007BFF;
}

h4.back-opt a:hover {
    color: #0056b3;
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: #007BFF;
}

video {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
}
