body {
    background-image: url(gallery/background.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h2 {
    color: white;
}

header {
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: black;

}

nav {
    color: blue;
}

footer {
    background-color: bisque;
    font-size: 25px;
    text-align: right;
    padding: 5px;
    color:black;

}