body {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background-color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: black;

}

nav {
    color: blue;
}

footer {
    background-color: aliceblue;
    font-size: 25px;
    text-align: right;
    padding: 5px;
    color:black;

}

#cs,#name {
    text-align: center;
}